@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@font-face {
  font-family: big shoulders;
  src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;400&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;400&display=swap');

@font-face {
  font-family: nico moji;
  src: url(fonts/nicomoji-regular.ttf);
}

@font-face {
  font-family: "karantina";
  src: url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;


}

html body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;


}

.main {
  position: relative;
  /* height: 100%;
 width: 100%; */
  overflow: hidden;

}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;

}

::-webkit-scrollbar-thumb {
  background: rgb(1, 1, 1);
  border-radius: 3px;
  border: 2px solid rgb(40, 39, 39);
  transition: transform 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transform: scale(2);
  border: none;
}

.menu {
  position: absolute;
  background-color: grey;
  height: 50vh;
  width: 100vw;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  top: -100%;
  display: none;
  transition: all ease 0.6s;



}

.menu-heading {
  display: flex;
  width: 100vw;
  align-items: center;
  /* background-color: rebeccapurple; */
  position: relative;
  justify-content: center;

}

.menu-heading h1 {
  font-family: nico moji;
  font-size: 3vw;
}

.menu-icon {
  position: absolute;
  right: 50px;
  font-size: 3vw;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2vw;
  gap: 1vw;
  font-family: nico moji;
}

.menu-content h1 {
  font-family: nico moji;
  font-size: 2.5vw;

}


.strip {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 0.2vw 0vw;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;

}

.strip::-webkit-scrollbar {
  display: none;
}

.strip:hover .strip-1 {
  animation-play-state: paused;
}

.strip-1 h6 {
  font-size: 1vw;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
  padding-left: 0.5vw;

}

.strip-1 .first {
  padding-left: 3vw;
}

.strip-1 {
  display: inline-block;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.side-strip {

  position: absolute;
  height: 100%;
  width: 10vw;
  left: 1vw;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 20vw;
  white-space: nowrap;
  animation: game;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes game {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.side-strip h1 {
  transform: rotate(90deg);
  font-size: 10vw;
  -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
  color: transparent;
  font-family: "koulen";
  letter-spacing: 0.4vw;
  display: inline-block;


}

.nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw;
  /* background-color: red; */
  position: fixed;
  z-index: 5;
  margin-top: 1.2vw;
}

.nav-part1 {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nav h1 {
  font-family: karantina;
  font-size: 2.5vw;
}

.nav h3 {
  font-size: 1.1vw;
}

.nav button {
  border: none;
  border-radius: 1vw;
  padding: 0.5vw 1.5vw;
  font-size: 1.1vw;
  font-weight: 500;
}

.nav-part1 a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.js-button:active {
  background-color: rgb(19, 19, 19);
  color: rgb(233, 233, 233);
}

.nav i {
  display: none;
  font-size: 6vw;
  font-weight: 700;
}

.mt-page {
  height: 100vh;
  width: 100%;
  margin-top: 5vh;
}

.page1 {
  height: 100vh;
  width: 100%;
  /* background-color:rgba(138, 198, 92, 0.997); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vw;

}

.page1 .page1-content {
  /* background-color: royalblue; */
  height: 35vw;
  width: 90vw;
  display: flex;

}

.page1-content .page1-content-left {
  /* background-color: orange; */
  height: 100%;
  width: 50%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: relative;
  padding-top: 5vw;

}

.page1-content-left h1 {
  font-family: "Notable";
  font-size: 6.5vw;
  right: -20vw;
  left: 0vw;
  letter-spacing: 0.5vw;
  color: white;
  z-index: 100;
  text-shadow: 0.8vw 0.5vw 2vw rgba(0, 0, 0, 0.393);

}

.page1-content-left h6 {
  position: absolute;
  font-size: 1vw;
  bottom: 5vw;
  right: 17vw;
}

.page1-content-left h1 span {
  color: #757474;
  font-family: "Notable";
}

.page1-content-left h1:nth-child(1) {
  position: absolute;
  right: -20vw;
  left: 0vw;
  padding-left: 1vw;
}

.page1-content-left h1:nth-child(2) {
  position: absolute;
  top: 0vw;
  right: -20vw;
  left: 0vw;
  /* line-height: 23vw */
  padding: 11.5vw 1vw 0vw;
}

.page1-content-left h1:nth-child(3) {
  position: absolute;
  right: -20vw;
  left: 0vw;
  /* line-height: 38vw; */
  padding: 13vw 1vw 0vw;
}

.page1-content .page1-content-right {
  /* background-color: burlywood; */
  height: 100%;
  width: 50%;
  border-radius: 3vw;
  overflow: hidden;

}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #cacaca;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 3vw;
}

.swiper-slide img {
  height: 32vw;
  filter: drop-shadow(2vw 2vw 3vw rgba(0, 0, 0, 0.477));
}

.swiper-pagination-bullet {
  width: 4vw;
  border-radius: 0.5vw;
  background-color: #ffffff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2vw;
  color: rgb(161, 163, 161);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.spacer-page-1 {
  height: 30.5rem;
  width: 100%;
  /* background-color: rgb(30, 229, 30); */


}

.page-2 {
  height: 100vh;
  width: 100%;
  /* background-color:aqua; */

}

.page-2-container {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  margin-bottom: 10vw;

}

.page-2-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.page-2-heading h1 {
  font-family: nico moji;
  font-size: 4vw;
  padding-top: 3vw;
  padding-bottom: 2vw;
  letter-spacing: 0.3vw;
}

.page-2-content-1 {
  display: flex;
  /* background-color: red; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

/* .page-2-content-1 :nth-child(2){
  background-color: rgb(202, 186, 166);
} */
.page-2-content-1::-webkit-scrollbar {
  display: none;
}

.page-2-content {
  display: flex;
  /* background-color: brown; */
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 35vw;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.page-2-content-left {
  /* background-color: rgb(165, 140, 42); */
  width: 60vw;
  height: 30vw;
  position: absolute;
  left: 0;
  padding-left: 12vw;
  z-index: 100;


}

.page-2-content-left h2 {
  font-family: karantina;
  font-size: 3.5vw;
}

.page-2-content-left p {
  text-align: left;
  width: 25vw;
  font-weight: 100;
  font-size: 1.3vw;
  font-family: 'Antonio';
  white-space: initial;

}

.page-2-content-middle {
  background-color: #757474;
  /* height: 37vw; */
  border-radius: 4vw;

}

.page-2-img-container img {
  height: 35vw;
  padding: 1vw 2vw;
}

.page-2-content-right {
  /* background-color: rgb(202, 202, 53); */
  width: 37vw;
  height: 30vw;
  position: absolute;
  right: 0;
  padding-top: 12vw;
  padding-right: 5vw;
}

.page-2-content-right h2 {
  font-family: karantina;
  font-size: 3.5vw;
  padding-left: 9vw;
}

.page-2-content-right p {
  font-family: 'Antonio';
  font-weight: 100;
  font-size: 1.3vw;
  width: 25vw;
  text-align: right;
  white-space: initial;

}

.page-3 {
  height: 100vh;
  width: 100%;
  /* background-color:rgb(101, 158, 158); */
}

.page-3-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-3-heading h1 {
  font-family: nico moji;
  font-size: 4vw;
  padding-top: 5.5vw;
}

.page-3-content {
  /* background-color: red; */
  height: 29vw;
  padding: 0vw 10vw
}

.page-3-cards {
  display: flex;
  /* background-color: yellow; */
  margin: 1vw 1vw;
  height: 29vw;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 2vw;
  align-items: center;
  padding: 0vw 1vw;


}

.page-3-cards::-webkit-scrollbar {
  display: none;
}

.page-3-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27vw;
  width: 23vw;
  background-color: grey;
  border-radius: 2vw;
  flex-shrink: 0;
  scroll-snap-align: center;



}

.page-3-card-content {
  padding-top: 1vw;
  padding-left: 1vw;
}

.page-3-card img {
  height: 17vw;
}

.page-3-card h2 {
  font-family: inter;
}

.page-3-card h4 {
  font-family: karantina;
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
}

.page-3-card h3 {
  font-family: koulen;
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  font-weight: 100;
}

.page-3-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 0vw;

}

.page-3-bottom button {
  font-family: 'inter';
  font-size: 1.5vw;
  padding: 0.1vw 2vw;
  border-radius: 0.5vw;
  border-style: none;
  background-color: rgb(56, 55, 55);
  color: white;
  font-weight: 1vw;

}

.footer {
  height: 90vh;
  width: 100%;
  /* background-color: rgb(25, 72, 72); */
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6vw;

}

.footer-heading h1 {
  font-family: karantina;
  font-size: 5vw;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-top: 4vw;
}

.footer-content p {
  font-family: 'inter';
  font-size: 2vw;
}

.footer-content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 2vw 0vw;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon a {
  text-decoration: none;
  color: white;
}

.footer-icon i {
  font-size: 3vw;
  font-weight: 1vw;
  padding-top: 2vw;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-bottom p {
  font-family: karantina;
  font-size: 1vw;
  padding-top: 6vw;
  word-spacing: 0.1vw;
}

@media (max-width: 600px) {
  .menu {
    display: block;
  }

  .menu {
    position: fixed;
    background-color: grey;
    height: 40vh;
    width: 100vw;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;


  }

  .menu-heading {
    display: flex;
    width: 100vw;
    align-items: center;
    /* background-color: rebeccapurple; */
    position: relative;
    justify-content: center;

  }

  .menu-heading h1,
  a {
    font-family: nico moji;
    font-size: 10vw;

  }

  .menu-content a {
    text-decoration: none;
    color: white;

  }

  .menu-icon {
    position: absolute;
    right: 10px;
    font-size: 12vw;
  }

  .menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vw;
    gap: 3vw;
    font-family: nico moji;
  }

  .menu-content h1 {
    font-family: nico moji;
    font-size: 10vw;

  }


  .side-strip {
    position: absolute;
    height: 100%;
    width: 10vw;
    left: 4vw;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 60vw;
    white-space: nowrap;
    animation: game;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  @keyframes game {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  .side-strip h1 {
    transform: rotate(90deg);
    font-size: 20vw;
    -webkit-text-stroke: 0.3vw rgb(47, 46, 46);
    color: transparent;
    font-family: "koulen";
    letter-spacing: 1vw;
    display: inline-block;


  }

  .strip {
    height: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .strip h6 {
    font-size: 3vw;
  }

  .nav {
    height: 65px;
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.279); */
    margin-top: 5vw;
  }

  .nav h1 {
    font-size: 10vw;
    padding: 8vw 0vw;

  }

  .nav-part1 h3 {
    display: none;
  }

  .nav-part1 button {
    display: none;
  }

  .nav-part1 i {
    display: block;
    font-size: 8vw;
    padding: 8vw 0vw;
  }

  .mt-page {
    /* background-color: orangered; */
    margin-top: 18vw;
  }

  .page1 {
    height: 100vh;
    width: 100%;
    /* background-color:rgba(138, 198, 92, 0.997); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vw;


  }

  .page1 .page1-content {
    /* background-color: royalblue; */
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

  }

  .page1-content .page1-content-left {
    /* background-color: orange; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5vw;

  }

  .page1-content-left h1 {
    font-family: "Notable";
    font-size: 12vw;
    letter-spacing: 0.5vw;
    color: white;
    z-index: 100;
    text-shadow: 0.8vw 0.5vw 2vw rgba(0, 0, 0, 0.393);
    position: relative;
    padding: 0vw;

  }

  .page1-content-left h6 {
    position: absolute;
    font-size: 6vw;
    padding: 10vw;
    bottom: 10%;
  }

  .page1-content-left h1 span {
    color: #757474;
    font-family: "Notable";
  }

  .page1-content-left :nth-child(1) {
    font-size: 11vw;
    top: 0;
    padding-left: 0vw;
  }

  .page1-content-left :nth-child(2) span {


    /* line-height: 23vw */
    padding: 0vw;

  }

  .page1-content-left :nth-child(2) {
    margin-top: 6vw;
    ;
    /* line-height: 23vw */

  }

  .page1-content-left :nth-child(3) {
    left: 0;
    top: 30%;
    font-size: 11vw;
    /* line-height: 38vw; */
    /* background-color: black; */
  }

  .page1-content .page1-content-right {
    /* background-color: burlywood; */
    height: 100%;
    width: 80vw;
    border-radius: 3vw;
    overflow: hidden;
    padding-bottom: 10vw;
    ;

  }

  .swiper {
    width: 80vw;
    height: 100%;
    /* background-color: green; */

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 50vw;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 3vw;
  }

  .swiper-slide img {
    height: 72vw;
    filter: drop-shadow(2vw 2vw 3vw rgba(0, 0, 0, 0.477));
  }

  .swiper-pagination-bullet {
    width: 10vw;
    border-radius: 0.5vw;
    background-color: #ffffff;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 6vw;
    color: rgb(129, 130, 129);
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  .spacer-page-1 {
    height: 30.5rem;
    width: 100%;
    /* background-color: rgb(30, 229, 30); */


  }

  .page-2 {
    height: 100vh;
    width: 100%;
    /* background-color:aqua; */

  }

  .page-2-container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-bottom: 10vw;
    padding-top: 22vw;

  }

  .page-2-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
  }

  .page-2-heading h1 {
    font-family: nico moji;
    font-size: 10vw;
    padding-top: 3vw;
    padding-bottom: 0vw;
    letter-spacing: 0.3vw;
  }

  .page-2-content-1 {
    display: flex;
    /* background-color: green; */
    align-items: start;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }

  /* .page-2-content-1 :nth-child(2){
    background-color: rgb(202, 186, 166);
  } */
  .page-2-content-1::-webkit-scrollbar {
    display: none;
  }

  .page-2-content {
    display: flex;
    /* background-color: brown; */
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .page-2-content-left {
    /* background-color: rgb(165, 140, 42); */
    width: 60vw;
    height: 50vw;
    position: absolute;
    top: 15%;
    left: 0;
    padding-left: 3vw;
    z-index: 100;


  }

  .page-2-content-left h2 {
    font-family: karantina;
    font-size: 7vw;
  }

  .page-2-content-left p {
    text-align: left;
    width: 35vw;
    font-weight: 300;
    font-size: 3vw;
    font-family: 'Antonio';
    white-space: initial;

  }

  .page-2-content-middle {
    background-color: #757474;
    height: 100vw;
    width: 70vw;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .page-2-img-container img {
    height: 70vw;
    padding: 1vw 2vw;
    filter: drop-shadow(2vw 2vw 3vw rgba(0, 0, 0, 0.477));
  }

  .page-2-content-right {

    width: 37vw;
    height: 50vw;
    position: absolute;
    bottom: 15%;
    right: 0;
    padding-top: 0vw;
    padding-right: 5vw;
  }

  .page-2-content-right h2 {
    font-family: karantina;
    font-size: 7vw;
    padding-left: 3vw;
  }

  .page-2-content-right p {
    font-family: 'Antonio';
    font-weight: 300;
    font-size: 3vw;
    width: 35vw;
    text-align: right;
    white-space: initial;

  }

  .page-3 {
    height: 100vh;
    width: 100%;
    /* background-color:rgb(101, 158, 158); */
  }

  .page-3-container {
    /* background-color: rgb(162, 104, 104); */
    height: 100vh;
    width: 100%;

  }

  .page-3-heading {
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: antiquewhite; */
    height: 30vw;
  }

  .page-3-heading h1 {
    font-family: nico moji;
    font-size: 10vw;
    padding-top: 0vw;
  }

  .page-3-content {
    /* background-color: red; */
    height: 70%;
    padding: 0vw 10vw;
    display: flex;
    align-items: start;
    justify-content: center;

  }

  .page-3-cards {
    display: flex;
    /* background-color: yellow; */
    margin: 30vw 1vw;
    height: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 2vw;
    align-items: center;
    padding: 0vw 1vw;


  }

  .page-3-cards::-webkit-scrollbar {
    display: none;
  }

  .page-3-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100vw;
    width: 70vw;
    background-color: grey;
    border-radius: 8vw;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .page-3-card-content {
    padding-top: 1vw;
    padding-left: 1vw;
  }

  .page-3-card img {
    height: 60vw;
    filter: drop-shadow(2vw 2vw 3vw rgba(0, 0, 0, 0.477));
  }

  .page-3-card h2 {
    font-family: inter;
    font-size: 6vw;
  }

  .page-3-card h4 {
    font-family: karantina;
    font-size: 6vw;
    letter-spacing: 0.1vw;
  }

  .page-3-card h3 {
    font-family: koulen;
    font-size: 6vw;
    letter-spacing: 0.1vw;
    font-weight: 100;
  }

  .page-3-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0vw;

  }

  .page-3-bottom button {
    font-family: 'inter';
    font-size: 7vw;
    padding: 1vw 6vw;
    border-radius: 0.5vw;
    border-style: none;
    background-color: rgb(56, 55, 55);
    color: white;
    font-weight: 1vw;

  }

  .footer {
    height: 80%;
    width: 100%;
    /* background-color: rgb(25, 72, 72); */
  }

  .footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6vw;

  }

  .footer-heading h1 {
    font-family: karantina;
    font-size: 20vw;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;

  }

  .footer-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding-top: 6vw;
  }

  .footer-content p {
    font-family: 'inter';
    font-size: 6vw;
  }

  .footer-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw 0vw;
  }

  .footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icon i {
    font-size: 10vw;
    font-weight: 1vw;
    padding-top: 10vw;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .footer-bottom p {
    font-family: karantina;
    font-size: 4vw;
    padding-top: 6vw;
    word-spacing: 0.1vw;
  }
}